html, body {
	box-sizing: border-box;
	height: 100%

}

.idk {
	font-size: 20px;
	margin-left: 10px;"
}

.form-head {
	margin-top: 30px;
}

.form-control {

}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navv {
	border-style: none;
	color: white;	
}
